{{!

@template mod_iadlearning/index

Display the IADLearning activities present in a course.

Example context (json):
{
"iad_instance_list" : "List of IADLearning activities in the course",
"iad_instance_name" : "Activity Name",
"instancesexist" : true,
"iad_instance_course" : "IADLearning Course" ,
"data" : [{ "name" : "Activity 1",
           "coursename" : "Advanced Networking"
         }]
}

}}

<section>
    <h3>{{iad_instance_list}}:</h3>
    {{#instancesexist}}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{iad_instance_name}}</th>
            <th>{{iad_instance_course}}</th>
        </tr>
        </thead>
        <tbody>
            {{#data}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{coursename}}</td>
                </tr>
            {{/data}}
        </tbody>
    </table>
    {{/instancesexist}}
</section>
